.accordeon.blogAccordeon
	.topAccordeon
		h4 популярные
	.bottomAccordeon.popular
		span Curabitur aliquet
		span Curabitur aliquet
		span Curabitur aliquet
	.topAccordeon
		h4 рубрики
	.bottomAccordeon.headings
		span Curabitur aliquet
		span 1
		span Curabitur aliquet
		span 2
		span Curabitur aliquet
		span 3
		span Curabitur aliquet
		span 4
		span Curabitur aliquet
		span 5
	.topAccordeon
		h4 рекомендуемые
	.bottomAccordeon.recomended
		.recomendedBloc
				img(src="img/recom1.png", alt="")
				p Pellentesque in ipsum
				span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta.
				.more
					span подробнее...
			.recomendedBloc
				img(src="img/recom2.png", alt="")
				p Pellentesque in ipsum
				span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta.
				.more
					span подробнее...
			.recomendedBloc
				img(src="img/recom2.png", alt="")
				p Pellentesque in ipsum
				span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta.
				.more
					span подробнее...
