.searchWrapper
	.hamburger.hamburger--slider.is-active
		.hamburger-box
			.hamburger-inner
	.search
		form(role="search" method="get" id="searchform")
			.box_one.box
				input(type="text" name="s" id="s")
				label(class="screen-reader-text" for="s") Поиск
			.box_two.box
				input(type="submit" id="searchsubmit")