.smallMenuWrapper
	.smallMenu
		.text
			span menu
		.hamburger.hamburger--slider
			.hamburger-box
				.hamburger-inner
		.smallMenuBox
			.fab.fa-facebook-f.z-depth-2
			.fab.fa-youtube.z-depth-2
			.fab.fa-instagram.z-depth-2
			.fas.fa-search.z-depth-2

.smallMenuShow
	.smallMenuWrapper
		.hamburger.hamburger--slider.is-active
			.hamburger-box
				.hamburger-inner
		span menu
		ul.grid
			a(href="blog.html")
				li БЛОГ
			a(href="#!")
				li test2
			a(href="#!")
				li test3
			a(href="#!")
				li test4
			a(href="#!")
				li test5
			a(href="#!")
				li test6
			a(href="#!")
				li test7
		.smallMenuShowBox
			.circle
				.fab.fa-facebook-f
			.circle
				.fab.fa-youtube
			.circle
				.fab.fa-instagram
			.circle
				.fas.fa-search
