include _header
body
	include _logoTop
	include _smallMenu
	.wrapper
		.blogPage
			include _blogAccordeon
			.blogContent
				.blogInside
					img(src="img/blog1.png", alt="")
					h4 новость один
					p Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Nulla porttitor accumsan tincidunt.
					.more
						span подробнее...
				.blogInside
					img(src="img/blog2.png", alt="")
					h4 новость один
					p Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Nulla porttitor accumsan tincidunt.
					.more
						span подробнее...
				.blogInside
					img(src="img/blog3.png", alt="")
					h4 новость один
					p Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Nulla porttitor accumsan tincidunt.
					.more
						span подробнее...
			include _categoryRightBlock
			.pagination
				img(src="img/left.svg", alt="")
				span 1
				span 2
				span 3
				span 4
				span 5
				span ...
				img(src="img/right.svg", alt="")
	include _footer


