include _header
body
	include _logoTop
	.wrapper
		.contactsWrapper
			.contactsInfo
				img(src="img/smartphone.svg", alt="")
				span +38093 606 45 12
				span Катерина
				img(src="img/message.svg", alt="")
				span asdasdasd@asdasd.asdas
			.calendar
	include _footer