include _header
body
	include _logoTop
	.wrapper
		.coursesWrapper
			.courses
				h2 как выйти замуж
				img(src="img/courses.png", alt="")
				h2 что внутри
			.coursesAccordeon
					.topAccordeon.active
						h4 вопрос 1
					.bottomAccordeon
						table
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
					.topAccordeon
						h4 вопрос 2
					.bottomAccordeon
						table
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
					.topAccordeon
						h4 вопрос 3
					.bottomAccordeon
						table
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
					.topAccordeon
						h4 вопрос 4
					.bottomAccordeon
						table
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
					.topAccordeon
						h4 вопрос 5
					.bottomAccordeon
						table
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
							tr
								td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit?
							tr
								td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloribus.
	.constsOfTrenindColor
		.wrapper
			.costsOfTrening
				.costsOfTreningWrapper
					.icon
						img(src="img/dollar-coins.svg", alt="")
					h2 цена тренинга
					.hr
					span 10 000 грн
					.hr
					a(href="#!").btn купить
					.text-input

	include _footer