include _header
body
	include _logoTop
	.wrapper
		.faqWrapper
			.faqText
				h2 faq
			.accordeon
				.topAccordeon.active
					h4 вопрос 1
				.bottomAccordeon
					p Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh. Sed porttitor lectus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Cras ultricies ligula sed magna dictum porta.
				.topAccordeon
					h4 вопрос 2
				.bottomAccordeon
					p Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh. Sed porttitor lectus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Cras ultricies ligula sed magna dictum porta.
				.topAccordeon
					h4 вопрос 3
				.bottomAccordeon
					p Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh. Sed porttitor lectus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Cras ultricies ligula sed magna dictum porta.
				.topAccordeon
					h4 вопрос 4
				.bottomAccordeon
					p Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh. Sed porttitor lectus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Cras ultricies ligula sed magna dictum porta.
				.topAccordeon
					h4 вопрос 5
				.bottomAccordeon
					p Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh. Sed porttitor lectus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Cras ultricies ligula sed magna dictum porta.

	include _footer