include _header
body
	.headerMain.grid
		.aboutHeaderMain.grid
			.logoAbout.grid
				img(src="img/logoHeaderAbout.png", alt="")
			.infoAbout.grid
				span life & family coaching
				span тел: +38 (093) 773 21 27
				span email: beewinnercomua@gmail.com
			.textAbout.grid
				.textAboutBlock
					.fas.fa-spinner.fa-spin
					h4 Взаимоотношения
				.textAboutBlock
					.fas.fa-spinner.fa-spin
					h4 Гармония в жизни
				.textAboutBlock
					.fas.fa-spinner.fa-spin
					h4 Личностный рост
	.fullWelcome
		.wrapper
			.welcome.grid
				.imgWelcome
					img(src="img/photoOwnre.png", alt="")
				.textWelcome
					h2 welcome
					p Мир в семье, отношения без скандалов, понимание и принятие друг друга, гармония в жизни и реализация вашего потенциала. Думаете это невозможно в вашей ситуации? Я скажу вам, что вы в том месте, где можно найти на это ответы и изменить жизнь к лучшему.	  Найдите свой путь к счастью. Я желаю вам быть успешными в семейных отношениях, реализовать свои мечты, отыскать внутренний баланс, радоваться и наслаждаться жизнью.	 Если захотите, я могу вас сопровождать на этом пути, у меня есть для этого специальные знания. Итак, добро пожаловать. Just do it and be a winner in your life!	 Спасибо, что вы зашли на мой сайт! Я ценю, что вы здесь. Надеюсь, информация на моем сайте сможет вам как-то помочь. С любовью в сердце, Катерина Лозовская, психолог, коуч
					.more
						span подробнее...
	.wrapper
		.blog.grid
			a(href="#!").item.grid
				h4 blog
			a(href="#!").item.grid.z-depth-2
				h4 отношения
			a(href="#!").item.grid.z-depth-2
				h4 развитие
			a(href="#!").item.grid.z-depth-2
				h4 баланс
			a(href="#!").item.grid.z-depth-2
				h4 деньги
			a(href="#!").item.grid.z-depth-2
				h4 здоровье
		.aboutProgect.grid
			h2 о  проекте beewinner
			p Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Sed porttitor lectus nibh. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vivamus suscipit tortor eget felis porttitor volutpat. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
			.more
				span подробнее...
	.fullImg
		span just do it and be
		br
		span a winner in your life!
	.wrapper
		.gift.grid
			.iconGift.grid
				.fas.fa-gift
			.giftHeader
				h2 для вдохновения
			.giftBottom
				span Подпишись на новости и получи подарок -
				br
				span видое - урок
				br
				span "Как навести порчу"
			a(href="#!").btn.pulse хочу
	.wrapper
		h2 тренинги
		.trenings.grid
			.box.grid
				.boxInside.grid
					h4 хочу замуж
					.far.fa-heart
					span Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
					a(href="#!").btn подробнее
			.box.grid
				.boxInside.grid
					h4 хочу замуж
					.far.fa-heart
					span Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
					a(href="#!").btn подробнее
			.box.grid
				.boxInside.grid
					h4 хочу замуж
					.far.fa-heart
					span Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
					a(href="#!").btn подробнее
	include _footer