include _header
include _header
body
	include _logoTop
	include _smallMenu
	.wrapper
		.price
			h2 цены
			.priceTabel
				span Один час работы со мной стоит
				span 1500 грн
			.priceText
				h4 работа со мной
				p Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus.
				p Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Sed porttitor lectus nibh. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	.priceApps
		.wrapper
			h5 приложения
			.priceAppsWrapper
				a(href="#!").boxApps
					.circle
						span.hide скачать с официального сайта
						span.small скачать
						img(src="img/skype.svg", alt="")
				a(href="#!").boxApps
					.circle
						span.hide скачать с официального сайта
						span.small скачать
						img(src="img/Facebook_Messenger_logo.svg", alt="")
				a(href="#!").boxApps
					.circle
						span.hide скачать с официального сайта
						span.small скачать
						img(src="img/hangout.svg", alt="")
				a(href="#!").boxApps
					.circle
						span.hide скачать с официального сайта
						span.small скачать
						img(src="img/zoon.svg", alt="")
	include _footer